<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<body class="container">
  <header>
    <h1 class="display-4">
      <%= title %></h1>
  </header>
  <div role="main">
    <p class="h4">こんにちは！ <%= login.name %>さん</p>
    <P id="now_time"></p><br>
    <div class = attendance_time>
      <P id="begin_time">本日の出勤時刻 > <%= begin_time %></p>
      <P id="finish_time">本日の退勤時刻 > <%= finish_time %></p>
    </div><br>
    <P>出勤／退勤ボタンを押してください</P>
    <form method="post" action="/attendance/begin">
      <div class="row">
        <div class="col-10">
          <input type="hidden" name="begin_time" value=""
            class="form-control">
        </div>
        <input type="submit" value="出勤" 
          class="btn btn-info col-6 btn-lg">
      </div>
    </form>
    <form method="post" action="/attendance/finish">
      <div class="row">
        <div class="col-10">
          <input type="hidden" name="finish_time" value=""
            class="form-control">
        </div>
        <input type="submit" value="退勤" 
          class="btn btn-warning col-6 mt-2s btn-lg">
      </div>
    </form>
    <p class="mt-4"><a href="/boards">&lt;&lt; 掲示板へ &gt;&gt;</a>
  </div>
</body>

</html>
<style>
</style>
<script>
  function showClock() {
    var nowTime = new Date();
    var nowHour = nowTime.getHours(); 
    var nowMin  = nowTime.getMinutes(); 
    var nowSec  = nowTime.getSeconds();
    var msg = "現在時刻 > " + nowHour + ":" + nowMin + ":" + nowSec;
    document.getElementById('now_time').innerHTML = msg;
  }
  setInterval('showClock()', 1000);
</script>
